<h1>Registeration Page</h1>

<form method="POST" action="/register">
  <div>
    <label>Email:</label>
    <input type="email" name="email" />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" />
  </div>
  <input type="submit" value="Register"/ >
</form>